body {
    background-image: url('Image/fundo-preto.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn {
    background-color: rgb(55, 57, 66);
    font-size: 15px;
    margin-right: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgb(0, 17, 255);
    color: white;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgb(0, 4, 255);
}

section {
    font-family: montserrat;
    color: white;
    text-align: center;
}

#form {
    display: block;
    text-align: center;
}

.formProd img {
    filter: drop-shadow(0px 0px 3px rgb(32, 21, 189));
    width: 130px;
}

.formProd {
    text-align: center;
    position: relative;
    width: 20%;
    height: 200px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    background-image: url('Image/parede-preta-do-estudio-e-fundo-do-chao-fundo-preto-com-efeitos-de-luz_166005-941.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(252, 252, 252);
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.formProd::before {
    border-radius: 10px;
    content: '';
    position: absolute;
    top: -2%;
    left: -2%;
    height: 103%;
    width: 103%;
    z-index: -1;
    background-image: linear-gradient(var(--rotate), red, green, blue);
    animation: spin 4s linear infinite;
}

.formProd::after {
    border-radius: 10px;
    content: '';
    position: absolute;
    top: -2%;
    left: -2%;
    height: 103%;
    width: 103%;
    z-index: -1;
    background-image: linear-gradient(var(--rotate), red, green, blue);
    filter: blur(10px);
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg;
    }
}

.formProd-2 {
    text-align: center;
    width: 600px;
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
    background-image: url('Image/parede-preta-do-estudio-e-fundo-do-chao-fundo-preto-com-efeitos-de-luz_166005-941.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(252, 252, 252);
}


.formProd-2 img {
    filter: drop-shadow(0px 0px 3px black);
    width: 300px;
}


.infosemp {
    margin: 50px auto;
    border-radius: 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.479);
    width: 600px;
    box-shadow: inset 0px 0px 5px black, 0px 0px 10px black;
}

.infosemp p {
    margin-left: 10px;
    text-align: left;
}

.wpp img {
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 40px;
    filter: drop-shadow(1px 1px 1px green);
}

.wpp img:hover {
    transform: scale(1.05);
    filter: drop-shadow(1px 1px 5px green);
}

footer {
    color: white;
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

@font-face {
    font-family: minha fonte;
    src: url('Fontes/Talk\ Comic.ttf');
}

@font-face {
    font-family: montserrat;
    src: url('Fontes/montserrat/Montserrat-Black.otf');
}

@media screen and (max-width: 900px) {
    .formProd {
        text-align: center;
        width: 15%;
        height: 85px;
        display: inline-block;
        margin: 5px;
        border-radius: 10px;
        background-image: url('Image/parede-preta-do-estudio-e-fundo-do-chao-fundo-preto-com-efeitos-de-luz_166005-941.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: rgb(252, 252, 252);
        box-shadow: inset 0px 0px 5px black, 0px 0px 5px black;
    }

    .formProd img {
        filter: drop-shadow(0px 0px 3px rgb(209, 201, 201));
        width: 50px;
    }

    .formProd h1 {
        font-size: 8px;
    }

    .formProd-2 {
        text-align: center;
        width: 300px;
        display: inline-block;
        margin: 5px;
        border-radius: 10px;
        background-image: url('Image/parede-preta-do-estudio-e-fundo-do-chao-fundo-preto-com-efeitos-de-luz_166005-941.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: rgb(252, 252, 252);
    }

    .formProd-2 img {
        width: 120px;
    }

    .infosemp {
        margin: 50px auto;
        border-radius: 10px;
        color: black;
        background-color: white;
        width: 300px;
    }

    .infosemp iframe {
        width: 250px;
    }

    .infosemp p {
        margin-left: 10px;
        text-align: left;
    }
}