body {
    font-family: Arial;
    background-image: url("../Image/fundo1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: minha fonte;
    src: url("../Font/Cherry\ Bird\ Demo.ttf");
}

@font-face {
    font-family: montserrat;
    src: url("../Font/montserrat/Montserrat-Black.otf");
}

a {
    text-decoration: none;
}

.inicio {
    display: flex;
}

section {
    display: block;
}

.inicio button {
    text-align: center;
    color: white;
    background-color: blue;
    margin: 3px;
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 25px;
    box-shadow: inset 0 0 1px blue, 0 0 5px rgb(0, 0, 0);
}

.inicio button:hover {
    box-shadow: inset 0 0 2px rgb(0, 0, 7), 0 0 10px rgb(0, 72, 180);
}

.wpp img {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 30px;
}

.wpp img:hover {
    filter: drop-shadow(1px 1px 10px rgb(30, 255, 0));
}

.titulo h1 {
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monstserrat;
}

.produtos img {
    width: 75px;
    filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
}

.form {
    margin-left: 25px;
}

.produtos {
    color: rgb(255, 255, 255);
    margin: 5px;
    display: inline-block;
    text-align: center;
    background-color: blue;
    width: 180px;
    border-radius: 10px;
    box-shadow: inset 0 0 1px blue, 0 0 10px rgb(0, 0, 0);
}

.marca {
    font-size: 20px;
    text-align: center;
    color: rgb(255, 0, 0);
    font-family: minha fonte;
    overflow: hidden;
    white-space: nowrap;
}

.infosprod {
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.infosprod .img {
    text-align: center;
}

.infosprod img {
    filter: drop-shadow(0 0 10px black);
    width: 200px;
}

.infosprod h1 {
    color: rgb(17, 0, 255);
    text-align: center;
}

.infosprod h2 {
    color: rgb(255, 0, 0);
    text-align: center;
}

.infosprod p {
    color: rgb(0, 0, 0);
    text-align: center;
}

footer {
    color: white;
    text-align: center;
}

.horario {
    width: 300px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
}

.horario h1 {
    color: blue;
    font-family: minha fonte;
    text-align: center;
}

.horario p {
    margin-left: 10px;
    text-align: left;
}
